<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Generator</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <div class="container text-center">
        <h1>Password Generator</h1>

        <form action="{% url 'password' %}">
            <select name="length">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected="selected">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select> Length
        <br>
            <input type="checkbox" name="uppercase"> Uppercase
        <br>
            <input type="checkbox" name="numbers"> Numbers
        <br>
            <input type="checkbox" name="special"> Special Characters
        <br>

            <input type="submit" value="Generate Password" class="btn btn-primary">
        </form>
        <a href ="{% url 'about' %}">About me</a>
    </div>
  </body>
</html>